
body {
    font-family: cursive;
    font-size: 45px;
    font-weight: bold;
    color: black;
    background : url("https://yonne.fff.fr/wp-content/uploads/sites/52/2021/05/ballon-de-foot-1600004600070034_545x341.jpg")no-repeat;
    background-size: 100%;
  margin: 0 auto;

}

nav.menu-nav ul li.bouton{
  display: inline-block;
  list-style-type: none;
  padding: 40px ;
}

nav.menu-nav ul li.bouton a {
  color: black; 
  text-decoration: none;
}

nav.menu-nav ul li.bouton:hover a{
  color: green;
  transition: 0.5s ; all

}

header {
  text-align : left;
}

h1{
  text-align: center;
}



div#content div {
  display: inline-block;
  width: auto;
  margin: 50px;
}


div#content div.leftbox{
  color: black;
  background-color: transparent;
vertical-align: top;
margin: 50px;
}

div#content div.rightbox{
  color: black;
  background-color: transparent;
  margin-left: 50px;

}
div.pele{
  color: yellow;
  background-color: transparent;
vertical-align: top;
}
  div.zidane{
  color: blue;
  background-color: transparent;
vertical-align: top;
  }
 div.beckam{
  color: red;
  background-color: transparent;
vertical-align: top;
 }
 div.maradona{
  color: cyan;
  background-color: transparent;
vertical-align: top;
 }
 